doctype html
html
    head
        title="赛事信息"
        link(rel='stylesheet', href='/stylesheets/game.css')
        script(type='text/javascript').
            window.onload = function () {
                var main_layout = document.getElementById('main_layout');
                main_layout.style.height = document.documentElement.clientHeight - 15 + 'px';
                var dataLayout = document.getElementById("data_layout");
                var gameData = !{gameData}
                gameData.forEach(function (obj, index) {
                    var pre = 100 / (gameData.length + 1);
                    if (index === 0) {
                        var divLeftLayout = document.createElement("div");//左边的几个框框
                        divLeftLayout.style.width = pre + "%";
                        divLeftLayout.style.height = "100%"
                        dataLayout.appendChild(divLeftLayout);
                        var tableNum = document.createElement("div");
                        tableNum.setAttribute("id", "table_number");
                        tableNum.innerHTML = "桌号";
                        divLeftLayout.appendChild(tableNum);
                        var level = document.createElement("div");
                        level.setAttribute("id", "table_number");
                        level.innerHTML = "级别";
                        divLeftLayout.appendChild(level);
                        var currency = document.createElement("div");
                        currency.setAttribute("id", "table_number");
                        currency.innerHTML = "货币";
                        divLeftLayout.appendChild(currency);
                        var empty = document.createElement("div");
                        empty.setAttribute("id", "name");
                        divLeftLayout.appendChild(empty);
                    }
                    var cellLayout = document.createElement("div");
                    console.log(pre + "%");
                    cellLayout.style.width = pre + "%";
                    dataLayout.appendChild(cellLayout);
                    cellLayout.style.height = '100%'
                    var number = document.createElement("div");
                    number.setAttribute("id", "table_number");
                    number.innerHTML = "NO" + (index + 1);
                    cellLayout.appendChild(number);

                    var lv = document.createElement("div");
                    lv.setAttribute("id", "table_number");
                    lv.innerHTML = obj[0];
                    cellLayout.appendChild(lv);

                    var _currency = document.createElement("div");
                    _currency.setAttribute("id", "table_number");
                    _currency.innerHTML = obj[1];
                    cellLayout.appendChild(_currency);

                    var person = obj[2];
                    var name = document.createElement("div");
                    name.setAttribute("id", "name");
                    cellLayout.appendChild(name);
                    person.forEach(function (p) {
                        var personName = document.createElement("div");
                        personName.innerHTML = p;
                        personName.style.height = '9.5%'
                        personName.style.color = "#b7ff21";
                        name.appendChild(personName);
                    });

                })
            };
    body
        div(id="main_layout")
            div(id="title_layout")
                strong(id="title_txt") CASH GAME INFORMATION 赛事信息
            div(id="data_layout")