#main_layout {
    width: 100%;
}
body{
    background-color: red;
}
#title_txt {
    font-size: 50px;
    color: white;
}

#title_layout {
    text-align: center;
    border: 1px solid darkred;
}

#data_layout {
    display: flex;
    height: 90%;
    justify-content: flex-start;
}
#table_title_number {
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    color: white;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

#table_number {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    color: white;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}
#name_empty{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    color: white;
    text-align: center;
    height: 82%;
}
#name {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    color: white;
    text-align: center;
    height: 82%;
}